/* All styling that is NOT inside a media query can be ragarded as default styling for our web page */
body { margin: 0; }

nav {
    padding: 10px;
    background-color: lightgray;
    display: flex;

    align-items: center;
    gap: 15px;
}

.logo {
    font-size: 70px;
}
a {
    font-size: 30px;
}

@media screen and (max-width: 800px) {
    /* This styling will only applay as long as the screen is smaller than 800px in widht */
    nav {
        background-color: aquamarine;
    }
}

@media screen and (max-width: 570px) {
    /* This styling will only apply when the screen is smaller than 570px. BUT the styling from the media query above will still be in effect.*/
    nav {
        flex-direction: column;
    }
    .logo { font-size:  50px; }
    a { font-size: 20px ;}

}